.kanbanBoard {
  font-family: var(--mainFont);
}

.kanbanBoard .subLinks .link a {
  font-weight: bolder;
  font-size: smaller;
}

.kanbanBoard .sectionHead .dropdownHead {
  min-width: 18%;
}

.kanbanBoard .sectionHead .dropdown {
  color: #7e858d !important;
}

.kanbanBoard .sectionHead .dropdown a {
  border: 1px solid #e0e4e7;
}

.kanbanBoard .sectionHead .dropdown li {
  color: #7e858d;
}

.kanbanBoard .sectionHead .dropdown li:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.667);
  color: #000;
}

.kanbanBoard .sectionHead input:focus {
  box-shadow: none !important;
}

.kanbanBoard .sectionHead .addBtn {
  background-color: #7f02a8;
  font-size: small;
}

.kanbanBoard .rounded {
  min-width: 18%;
}

.card {
  cursor: grab;
  min-height: fit-content;
}

.card:hover {
  cursor: pointer;
  background-color: var(--mainColor);
}

.card .card-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.card .badges .badge {
  font-weight: bolder;
  padding: 0 5px;
}

.card .contactInfo {
  font-size: 0.6rem;
  font-weight: bold;
}

.card .date {
  font-size: 0.7rem;
  font-weight: bold;
}

.deleteCard {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  border: 2px dashed;
  background-color: #f7c1c1;
}
.dropdown-menu {
  min-width: max-content;
}
