<div class="d-flex flex-wrap gap-3 justify-content-center mt-2">
  <div class="bg-light p-1 rounded "
  cdkDropList
  #potentialList="cdkDropList"
  [cdkDropListData]="potential_value"
  [cdkDropListConnectedTo]="[focusList,contactList,offerList,gettingList]"
  (cdkDropListDropped)="drop($event)">
    <h3 class="fw-bolder px-2">Potential Value</h3>
    <div class="mb-2 px-2">
      <span class="text-muted fw-bold"><i class="fa-solid fa-clipboard"></i> {{potential_value.length}}</span>
      <span class="text-muted fw-bold px-4"
      mat-raised-span
      matTooltipPosition="above"
      matTooltip="Total Potential Value    2332 123 NOK {{potential_value.length}} Deals"
      [matTooltipClass]="'tooltip'"><i class="fa-solid fa-rug"></i> 2.36 mln</span>
      <span class="text-muted fw-bold"><i class="fa-solid fa-bell"></i> 2</span>
    </div>
    <div *ngFor="let item of potential_value| search:term" (mousedown)="showDeleteCard()"  cdkDrag class="card text-bg-white mb-3 shadow-sm border-0" style="max-width: 14.5rem;">
      <div class="card-body p-2">
        <h5 class="card-title d-flex justify-content-between">{{item.company}} <span class="text-muted fs-5"><i class="fa-solid fa-ellipsis"></i></span></h5>
        <div class="badges">
          <h6 class="badge bg-secondary me-2">{{item.state}}</h6>
          <h6 class="badge bg-primary"
          mat-raised-span
          matTooltipPosition="above"
          matTooltip="Probability Status {{item.probability_status}}">
          {{item.probability_status}}</h6>
        </div>
        <div class="contactInfo text-muted d-flex justify-content-between"><span><i class="fa-solid fa-phone"></i> {{item.first_name + ' ' + item.last_name}}</span>{{item.phone.split(" ")[0]}} <span></span></div>
        <div *ngIf="isFutureDate(item.date)" class="date text-muted"><span><i class="fa-regular fa-calendar"></i> {{item.date}}</span></div>
        <div *ngIf="!isFutureDate(item.date)" class="date text-danger"><span><i class="fa-regular fa-calendar"></i> {{item.date}} (Past due)</span></div>
      </div>
    </div>
  </div>
  <div class="bg-light p-1 rounded"
      cdkDropList
      #focusList="cdkDropList"
      [cdkDropListData]="focus"
      [cdkDropListConnectedTo]="[potentialList,contactList,offerList,gettingList]"
      (cdkDropListDropped)="drop($event)">
    <h3 class="fw-bolder px-2">Focus</h3>
    <div class="mb-2 px-2">
      <span class="text-muted fw-bold"><i class="fa-solid fa-clipboard"></i> {{focus.length}}</span>
      <span class="text-muted fw-bold px-4"
      mat-raised-span
      matTooltipPosition="above"
      matTooltip="Total Focus    2332 123 NOK {{focus.length}} Deals"
      [matTooltipClass]="'tooltip'"><i class="fa-solid fa-rug"></i> 2.36 mln</span>
      <span class="text-muted fw-bold"><i class="fa-solid fa-bell"></i> 2</span>
    </div>
    <div *ngFor="let item of focus|search:term" (mousedown)="showDeleteCard()" cdkDrag class="card text-bg-white mb-3 shadow-sm border-0" style="max-width: 14.5rem;">
      <div class="card-body p-2">
        <h5 class="card-title d-flex justify-content-between">{{item.company}} <span class="text-muted fs-5"><i class="fa-solid fa-ellipsis"></i></span></h5>
        <div class="badges">
          <h6 class="badge bg-secondary me-2">{{item.state}}</h6>
          <h6 class="badge bg-primary"
          mat-raised-span
          matTooltipPosition="above"
          matTooltip="Probability Status {{item.probability_status}}">
          {{item.probability_status}}</h6>
        </div>
        <div class="contactInfo text-muted d-flex justify-content-between"><span><i class="fa-solid fa-phone"></i> {{item.first_name + ' ' + item.last_name}}</span>{{item.phone.split(" ")[0]}}<span></span></div>
        <div *ngIf="isFutureDate(item.date)" class="date text-muted"><span><i class="fa-regular fa-calendar"></i> {{item.date}}</span></div>
        <div *ngIf="!isFutureDate(item.date)" class="date text-danger"><span><i class="fa-regular fa-calendar"></i> {{item.date}} (Past due)</span></div>
      </div>
    </div>
  </div>
  <div class="bg-light p-1 rounded"
  cdkDropList
  #contactList="cdkDropList"
  [cdkDropListData]="contact_made"
  [cdkDropListConnectedTo]="[potentialList,focusList,offerList,gettingList]"
  (cdkDropListDropped)="drop($event)">
    <h3 class="fw-bolder px-2">Contact Made</h3>
    <div class="mb-2 px-2">
      <span class="text-muted fw-bold"><i class="fa-solid fa-clipboard"></i> {{contact_made.length}}</span>
      <span class="text-muted fw-bold px-4"
      mat-raised-span
      matTooltipPosition="above"
      matTooltip="Total Contact Made    2332 123 NOK {{contact_made.length}} Deals"
      [matTooltipClass]="'tooltip'"><i class="fa-solid fa-rug"></i> 2.36 mln</span>
      <span class="text-muted fw-bold"><i class="fa-solid fa-bell"></i> 2</span>
    </div>
    <div *ngFor="let item of contact_made|search:term" (mousedown)="showDeleteCard()" cdkDrag class="card text-bg-white mb-3 shadow-sm border-0" style="max-width: 14.5rem;">
      <div class="card-body p-2">
        <h5 class="card-title d-flex justify-content-between">{{item.company}} <span class="text-muted fs-5"><i class="fa-solid fa-ellipsis"></i></span></h5>
        <div class="badges">
          <h6 class="badge bg-secondary me-2">{{item.state}}</h6>
          <h6 class="badge bg-primary"
          mat-raised-span
          matTooltipPosition="above"
          matTooltip="Probability Status {{item.probability_status}}">
          {{item.probability_status}}</h6>
        </div>
        <div class="contactInfo text-muted d-flex justify-content-between"><span><i class="fa-solid fa-phone"></i> {{item.first_name + ' ' + item.last_name}}</span>{{item.phone.split(" ")[0]}}<span></span></div>
        <div *ngIf="isFutureDate(item.date)" class="date text-muted"><span><i class="fa-regular fa-calendar"></i> {{item.date}}</span></div>
        <div *ngIf="!isFutureDate(item.date)" class="date text-danger"><span><i class="fa-regular fa-calendar"></i> {{item.date}} (Past due)</span></div>
      </div>
    </div>
  </div>
  <div class="bg-light p-1 rounded"
  cdkDropList
  #offerList="cdkDropList"
  [cdkDropListData]="offer_sent"
  [cdkDropListConnectedTo]="[potentialList,focusList,contactList,gettingList]"
  (cdkDropListDropped)="drop($event)">
    <h3 class="fw-bolder px-2">Offer Sent</h3>
    <div class="mb-2 px-2">
      <span class="text-muted fw-bold"><i class="fa-solid fa-clipboard"></i> {{offer_sent.length}}</span>
      <span class="text-muted fw-bold px-4"
      mat-raised-span
      matTooltipPosition="above"
      matTooltip="Total Offer Sent    2332 123 NOK {{offer_sent.length}} Deals"
      [matTooltipClass]="'tooltip'"><i class="fa-solid fa-rug"></i> 2.36 mln</span>
      <span class="text-muted fw-bold"><i class="fa-solid fa-bell"></i> 2</span>
    </div>
    <div *ngFor="let item of offer_sent|search:term" (mousedown)="showDeleteCard()" cdkDrag class="card text-bg-white mb-3 shadow-sm border-0" style="max-width: 14.5rem;">
      <div class="card-body p-2">
        <h5 class="card-title d-flex justify-content-between">{{item.company}} <span class="text-muted fs-5"><i class="fa-solid fa-ellipsis"></i></span></h5>
        <div class="badges">
          <h6 class="badge bg-secondary me-2">{{item.state}}</h6>
          <h6 class="badge bg-primary"
          mat-raised-span
          matTooltipPosition="above"
          matTooltip="Probability Status {{item.probability_status}}">
          {{item.probability_status}}</h6>
        </div>
        <div class="contactInfo text-muted d-flex justify-content-between"><span><i class="fa-solid fa-phone"></i> {{item.first_name + ' ' + item.last_name}}</span>0{{item.phone | slice:0:15}} <span></span></div>
        <div *ngIf="isFutureDate(item.date)" class="date text-muted"><span><i class="fa-regular fa-calendar"></i> {{item.date}}</span></div>
        <div *ngIf="!isFutureDate(item.date)" class="date text-danger"><span><i class="fa-regular fa-calendar"></i> {{item.date}} (Past due)</span></div>
      </div>
    </div>
  </div>
  <div class="bg-light p-1 rounded"
  cdkDropList
  #gettingList="cdkDropList"
  [cdkDropListData]="getting_ready"
  [cdkDropListConnectedTo]="[potentialList,focusList,contactList,offerList]"
  (cdkDropListDropped)="drop($event)">
    <h3 class="fw-bolder px-2">Getting Ready</h3>
    <div class="mb-2 px-2">
      <span class="text-muted fw-bold"><i class="fa-solid fa-clipboard"></i> {{getting_ready.length}}</span>
      <span class="text-muted fw-bold px-4"
      mat-raised-span
      matTooltipPosition="above"
      matTooltip="Total Getting Ready    2332 123 NOK {{getting_ready.length}} Deals"
      [matTooltipClass]="'tooltip'"><i class="fa-solid fa-rug"></i> 2.36 mln</span>
      <span class="text-muted fw-bold"><i class="fa-solid fa-bell"></i> 2</span>
    </div>
    <div *ngFor="let item of getting_ready|search:term" (mousedown)="showDeleteCard()" cdkDrag class="card text-bg-white mb-3 shadow-sm border-0" style="max-width: 14.5rem;">
      <div class="card-body p-2">
        <h5 class="card-title d-flex justify-content-between">{{item.company}} <span class="text-muted fs-5"><i class="fa-solid fa-ellipsis"></i></span></h5>
        <div class="badges"><h6 class="badge bg-secondary me-2">{{item.state}}</h6></div>
        <div class="contactInfo text-muted d-flex justify-content-between"><span><i class="fa-solid fa-phone"></i> {{item.first_name + ' ' + item.last_name}}</span>{{item.phone.split(" ")[0]}}<span></span></div>
        <div *ngIf="isFutureDate(item.date)" class="date text-muted"><span><i class="fa-regular fa-calendar"></i> {{item.date}}</span></div>
        <div *ngIf="!isFutureDate(item.date)" class="date text-danger"><span><i class="fa-regular fa-calendar"></i> {{item.date}} (Past due)</span></div>
        <div class="progress d-flex align-items-center bg-transparent" role="progressbar" style="height: 10px; border: 1px solid #38b100;"aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
          mat-raised-span
          matTooltipPosition="above"
          matTooltip="Probability Status {{item.probability_status}}">
          <div class="progress-bar" style="height: 5px; background-color: #38b100;" [style.width]="item.probability_status"></div>
        </div>
      </div>
    </div>
  </div>
</div>
